:root{
    --car-card__width: 500px;
    --car-card__height: 375px;
    --car-card__margin: 15px;
    --car-card__padding: 5px;
}

#AE4000IT_BMW_X3{
    background-image: url('./img/bmw_x3_2017.jpg');
}

.car-card{
    width: var(--car-card__width);
    height: var(--car-card__height);
    border-radius: 10px 0px 0px 10px;
    position: relative;
}

.car-card__img{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.car-card__overlay{
    position: absolute;
    top: var(--car-card__margin);
    right: var(--car-card__margin);
    bottom: var(--car-card__margin);
    left: var(--car-card__margin);
    /* background-color: aqua; */
    padding: var(--car-card__padding);
}

.car-card__content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.car-card__content-top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(255, 217, 4); */
    width: 100%;
}

.car-card__content-bottom{
    /* background-color: yellow; */
    width: 100%;
}

.plate-number{
    border: 2px solid #484848;
    border-radius: 5px;
    width: auto;
    display: inline-flex;
    height: 35px;
}

.plate-number__flag{
    width: 30px;
    background-color: #2860ab;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    padding: 4px 0px;
}

.plate-number__text{
    text-align: center;
    background-color: white;
    padding: 0px 8px;
}

.plate-number__text > span {
    color: #212529;
    line-height: 35px;
}

.plate-data__registr{
    /* background-color: red; */
    padding: 5px;
}

.plate-data__registr > span {
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
}

.plate-number__flag-icon{
    width: 20px;
    height: 15px;
    margin: auto;  
}

.flag-icon__blue{
    height: 6px;
    background-color: #3a75c4;
}

.flag-icon__yellow{
    height: 6px;
    background-color: #f9dd16;
}

.plate-number__code-country{
    height: 15px;
    text-align: center;
}

.plate-number__code-country > span{
    color: white;
    font-size: 15px;
    font-weight: 400;
}

.car-card__data-model > span, .car-card__mark-model > span {
    font-weight: 600;
    font-size: 1.2rem;
    color: white;
}

.img_dog{
    height: 200px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    border-radius: 0px 0px 5px 5px;
}